.container {
    background-color: rgb(128, 114, 183);
    width: 400px;
    height:fit-content;
    min-height: 90%;
    border-radius: 20px;
    padding: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
}

.restaurantHeader {
    color: #560606;
    text-align: center;
    font-size: 32px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    align-self: center;
    }

.reviews {
    margin-top: 30px;
    margin-bottom: 30px;
}